.grn {
  background-color: #50c878 !important;
  border-color: white;
}
.green {
  background-color: #25d366 !important;
}
.inca {
  height: 10px !important;
}
.temper {
  background-color: white !important;
}

.dt {
  color: white !important;
}
