.loger{
        width:auto !important; 
        left: 0;
        bottom: 0;
        margin-top: 130px;
        background-color:white;
}
  
.timer {
        border-right: 2px solid whitesmoke
}
.turn{
        border-radius: 10px;
}